.SideDrawer{
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100%;
  background-color: var(--clr-primary-900);
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.OtherDevices{
    height: 70%;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(100%);
}

@media screen and (min-width: 45rem){
    .SideDrawer{
        display: none;
    }
}


