:root{
  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-700: #37393A;
  --clr-neutral-900: #020203;

  --clr-primary-900:  #1E212B;
  --clr-primary-700: #CC5803;
  --clr-primary-500: #bb112d;
  --clr-primary-300: #149911;

}

/* Resets */

*,
*::before,
*::after{
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3{
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* General Style */

body {
  padding: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: var(--fw-400);
  line-height: 1.3;
}

section {
  padding: 1rem 0 0;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

